<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PD3100sifra43.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.net>
		<defaultProxy enabled="false">
			<proxy proxyaddress="10.0.3.250"/>
		</defaultProxy>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="smtp.teol.net" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
 <userSettings>
  <PD3100sifra43.Properties.Settings>
   <setting name="Konekcija" serializeAs="String">
    <value>Data Source=dragon.fondpiors.org;Initial Catalog=PioRS;Persist Security Info=True;User ID=sa;Password=$idi0us;</value>
   </setting>
   <setting name="PioRSConnectionString" serializeAs="String">
    <value>Data Source=radenko-pc\MSSQL2008;Initial Catalog=PioRS;Persist Security Info=True;User ID=sa;Password=pegla80;</value>
   </setting>
  </PD3100sifra43.Properties.Settings>
 </userSettings>
</configuration>